{% extends '::adminBase.html.twig' %}
{% set title = 'Settings' %}
{% block body -%}
    <h1>Settings edit</h1>

    {{ form(edit_form) }}

<ul class="record_actions">
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
