<div class="sidebar-module">
    <h4>Elsewhere</h4>
    {% if entity != null %}
    <ol class="list-unstyled">
        {% if entity.github %}
            <li><a href="{{ entity.github }}">GitHub</a></li>
        {% endif %}
        {% if entity.twitter %}
            <li><a href="{{ entity.twitter }}">Twitter</a></li>
        {% endif %}
        {% if entity.facebook %}
            <li><a href="{{ entity.facebook }}">Facebook</a></li>
        {% endif %}
        {% if enitity.linkedin %}
            <li><a href="{{ entity.linkedin }}">Linkedin</a></li>
        {% endif %}
    </ol>
    {% endif %}
</div>
