{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-2" style="padding-top: 20px;">
            {% include "BlogUserBundle:Registration:register_content.html.twig" %}
        </div>
        <div class="col-md-2"></div>


{% endblock %}
