{% extends '::adminBase.html.twig' %}
{% set title = 'Create User' %}
{% set panel = 1 %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body -%}
    {{ form(form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_user') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
