{% extends 'base.html.twig' %}
{% block body %}

    <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Not Found</h2>

            </div>

    </div><!-- /.blog-main -->


{% endblock body %}
