<div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>{{ settings.sidebarAbout }}</p>
</div>
<div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
        <li><a href="#">March 2014</a></li>
    </ol>
</div>
